<%- include('partials/header.ejs'); %>
<h1>WebSocket Chat2</h1> 
<a href="/chat?id=<%= id %>&username=<%= username %>">チャットルーム</a>
<a href="/chat1?id=<%= id %>&username=<%= username %>">チャットルーム1</a><hr>
<form id="chat2Form">
    ユーザー名<input type="text" id="chat2-username" value="<%= username %> ">
    コメント<input type="text" id="chat2-message">
    <input type="submit" class="button" value="Send">
</form>
<hr>
<ul id="output"></ul>
<script>
    const id = "<%= id %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/javascript2.js"></script>
<%- include('partials/footer.ejs'); %>
